[Unit]
Description=Sway Autotiling
PartOf=sway-session.target
After=sway-session.target

[Service]
Type=simple
ExecStart=/usr/bin/autotiling-rs
Restart=on-failure
RestartSec=5

[Install]
WantedBy=sway-session.target
