[Unit]
Description=Clipboard History Manager
PartOf=sway-session.target
After=sway-session.target

[Service]
Type=simple
ExecStart=/usr/bin/wl-paste --watch cliphist store
Restart=on-failure
RestartSec=5

[Install]
WantedBy=sway-session.target
