[Unit]
Description=Sway Workspace Renamer
PartOf=sway-session.target
After=sway-session.target

[Service]
Type=simple
ExecStart=/usr/bin/swaywsr
Restart=on-failure
RestartSec=5

[Install]
WantedBy=sway-session.target
