export LATEXINDENT_CONFIG="$HOME/.config/latexindent/indentconfig.yaml"
export TAPLO_CONFIG="$HOME/.config/taplo/taplo.toml"
export STARSHIP_CONFIG="$HOME/.config/starship/starship.toml"
{{- if eq .chezmoi.os "darwin"}}
eval "$(/opt/homebrew/bin/brew shellenv)"
{{ end -}}
