# === CATPPUCCIN MOCHA === #
background_color           #6c7086

text_highlight_color       #f9e2af

search_highlight_color     #f38ba8
link_highlight_color       #89b4fa
synctex_highlight_color    #a6e3a1

highlight_color_a          #f9e2af
highlight_color_b          #a6e3a1
highlight_color_c          #89dceb
highlight_color_d          #eba0ac
highlight_color_e          #cba6f7
highlight_color_f          #f38ba8
highlight_color_g          #f9e2af

status_bar_color           #1e1e2e
status_bar_text_color      #cdd6f4

custom_background_color    #1e1e2e
custom_text_color          #cdd6f4

ui_text_color              #cdd6f4
ui_background_color        #313244
ui_selected_text_color     #cdd6f4
ui_selected_background_color #585b70

keyboard_select_background_color 0.19 0.19 0.27 0.8
keyboard_select_text_color 0.80 0.84 0.96 1

# font setting
ui_font JetBrains Mono

{{- if eq .chezmoi.os "darwin"}}
font_size 10
status_bar_font_size       12
keyboard_select_font_size 14
{{ end -}}

{{- if eq .chezmoi.os "linux"}}
font_size 15
status_bar_font_size       18
keyboard_select_font_size 20
{{ end -}}

# page separator
page_separator_width 0

# startup commands
# startup_commands toggle_synctex

# visual mark
ruler_display_mode slit

# multiple windows
should_launch_new_window 1

# label tag
alphabetic_link_tags 1
